{% extends 'parts/main.html' %}

{% block content %}

<br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>顧客:{{customer.name}}</h5>
            <hr>
            <a class="btn btn-outline-info btn-sm btn-block" href="">
                顧客追加
            </a>
            <a class="btn btn-outline-info btn-sm btn-block" href="{% url 'create_order' customer.id %}">
                パーツ追加
            </a>
        </div>
    </div>

    <div class="col-md">
        <div class="card card-body">
            <h5>連絡先</h5>
            <hr>
            <p>Email: {{customer.email}}</p>
        </div>
    </div>

    <div class="col-md">
        <div class="card card-body">
            <h5>合計数</h5>
            <hr>
            <h1 style="text-align: center;padding: 10px;">{{order_count}}</h1>
        </div>
    </div>
</div>

<br>
<div class="row">
    <div class="col">
        <div class="card card-body">
            <form method="get">
                {{myFilter.form}}
                <button class="btn btn-primary" type="submit">
                    Search
                </button>
            </form>
        </div>
    </div>
</div>

<br>
<div class="col-md">
    <div class="card card-body">
        <table class="table table-sm">
            <tr>
                <th>パーツ名</th>
                <th>カテゴリ</th>
                <th>消耗日</th>
                <th>ステータス</th>
                <th>追加</th>
                <th>削除</th>
            </tr>

            {% for order in orders %}
                <tr>
                    <td>{{order.parts}}</td>
                    <td>{{order.parts.category}}</td>
                    <td>{{order.parts.date_created}}</td>
                    <td>{{order.parts.status}}</td>
                    <td><a class="btn btn-sm btn-info" href="{% url 'update_order' order.id %}">追加</a></td>
                    <td><a class="btn btn-sm btn-danger" href="{% url 'delete_order' order.id %}">削除</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}
