{% load static %}

<style>
  .hello-msg{
    font-size: 18px;
    color: #fff;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}"></a>  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% if request.user.is_staff %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">顧客管理</a>
          </li>
          {% endif %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              トラブルシューティング
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="{% url 'trouble' %}">カテゴリから探す</a></li>
              <li><a class="dropdown-item" href="#">図面から探す</a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'parts' %}">パーツ在庫</a>
          </li>
    
          <!-- 後で直す、客はトラブルシューティングとパーツ在庫は見れるべき、endifの位置を変える -->
         
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>

    <span class="hello-msg">Hello, {{request.user}}</span>
    <span ><a class="hello-msg" href="{% url 'logout' %}">Logout</a></span>
</nav>