{% extends 'parts/main.html' %}
{% block content %}
{% include 'parts/status.html' %}

<div class="col-md">
    <div class="card card-body">
        <table class="table table-sm">
            <tr>
                <th>パーツ名</th>
                <th>カテゴリ</th>
                <th>消耗日</th>
                <th>ステータス</th>
                <th>追加</th>
                <!-- <th>削除</th> -->
            </tr>

            {% for order in orders %}
                <tr>
                    <td>{{order.parts}}</td>
                    <td>{{order.parts.category}}</td>
                    <td>{{order.parts.date_created}}</td>
                    <td>{{order.parts.status}}</td>
                    <!-- <td><a class="btn btn-sm btn-info" href="{% url 'update_order' order.id %}">追加</a></td> -->
                    <!-- <td><a class="btn btn-sm btn-danger" href="{% url 'delete_order' order.id %}">削除</a></td> -->
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}